@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Open Sans", serif;
  overflow-x: hidden;
  max-width: 100%;
}
body{
  margin: 0;
}

.link-effect{
  box-shadow: inset 0 0 0 0 #EF3A38;
  margin: 0 -.3rem;
  padding: 0 .7rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link-effect:hover{
  box-shadow: inset 100px 0 0 0 #EF3A38;
  color: white;
}

